extends ./layout

block content
  h1 Bookshelf
  p
    a.button(href="/books/new") Add a new book
    form.querying-container(action="" method="post")
      input(type="text" placeholder= 'What are you looking for?' name='searchQuery')
      input#search-button(type="submit", value="")
      select(name='perPage')
        option(value='all')= 'Show all'
        option(value='5')= 'Five per page'
        option(value='10')= 'Ten per page'
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td
            a(href=`/books/${book.id}`)= book.title
          td= book.author
          td= book.genre
          td= book.year
  if (perPage!='All')
    nav.nav-bar
      - let pageNum = 1;
      while pageNum <= numOfPages
       a.nav-link(href=`/pages/${pageNum}`)= pageNum
